---
name: Test Python Code

on: # yamllint disable-line rule:truthy
  push:
    branches: [master, main]
    paths:
      - "src/**"
      - "tests/**"
      - "requirements.txt"
      - "dev-requirements.txt"
      - ".github/workflows/test-python.yaml"
  pull_request:
    branches: [master, main]
    paths:
      - "src/**"
      - "tests/**"
      - "requirements.txt"
      - "dev-requirements.txt"
      - ".github/workflows/test-python.yaml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  # Run this locally with act - https://github.com/nektos/act
  # act -j testPython
  testPython:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:

      - name: Checkout respository
        uses: actions/checkout@v3

      - name: Set up Python3
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          pip install -r requirements.txt

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Test with pytest
        run: |
          pytest
