---
name: Test Python Code

on: # yamllint disable-line rule:truthy
  push:
    branches: [master, main]
    paths:
      - "src/**"
      - "tests/**"
      - "requirements.txt"
      - "dev-requirements.txt"
      - ".github/workflows/test-python.yaml"
  pull_request:
    branches: [master, main]
    paths:
      - "src/**"
      - "tests/**"
      - "requirements.txt"
      - "dev-requirements.txt"
      - ".github/workflows/test-python.yaml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  # Run this locally with act - https://github.com/nektos/act
  # act -j testPython
  testPython:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:

      - name: Checkout respository
        uses: actions/checkout@v4

      - name: Set up Python3
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install dependencies
        run: make install

      - name: Lint
        run: make lint

      - name: Test
        run: make test
